@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;   
   }

   main{
    margin-top: 10px;
    background-image: linear-gradient(to bottom, #1f0033, rgb(72 1 123 / 37%), rgb(20 17 53 / 82%));
    background-color: #7e62d7;
    border-radius: 50px;
    border-bottom: 10px;
    margin-bottom: 30px;
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    margin: 50px auto;
    box-shadow: 0px 0px 7px rgb(255, 255, 255); 
   }


   @media only screen and (max-width: 600px) {
    main {
        border-radius: 0px;
        margin: 0px auto;
    }
}

   
   
   main p {
    padding-top: 16px;
    color: #ffffff;
    text-indent: 35px;
    line-height: 1.3em;
   }

   main a {
    text-decoration: none;
    color: #0aff85;
   }

   main .sh{
    padding-top: 20px;
   }

   main img {
    width: 70%;
    
   }

   div{
    text-align: center;
   }

   main .firstimg{
    padding-top: 40px;
    margin-left: 224px;
   }

   main a:hover{
    text-decoration: underline;
    background-color: rgb(255, 68, 0);
   }

   main h2 {
    padding-top: 30px;
    color:  #87ff1e;
    text-align: center;
   }

   main h1 {
    font-weight: bolder;
    color: #00d9ff;
    text-align: center;
    font-size: 2.2em;
    text-decoration: underline;
   }

   nav {
    padding-bottom: 0px;
   }

   nav > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding: 3px;
    margin-left: 198px;
    transition: 1s;
    font-size: 1.1em;
   }

   @media only screen and (max-width: 500px) {
    nav > a {
        margin-left: 30px;
        color: black;
    }
}

@media only screen and (max-width: 500px) {
    main p {
       
        line-height: 1.5em;
        text-indent: 20px;
        text-align: justify;
        color: rgb(255, 255, 255);
    }
}

   nav a:hover{
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    background-color: rgba(0, 60, 255, 0.534);
   }

   footer{
    background-color: #ffffff;
    text-align: center;
   }

   footer p {
    color: rgb(0, 0, 0);
    font-weight: bolder;

   }

   footer a {
    text-decoration: none;
    transition: 2s;
   }

   footer a:hover{
    color: blue;
   }

   .divT{
    margin: auto;
    margin-top: 50px;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    text-align: center;
    @media only screen and (max-width: 600px) {
        video {
            width: 100%;
        }
    }
   }

   @media only screen and (max-width: 600px) {
    video {
        width: 100%;
    }
}

   video{
    box-shadow: 0px 0px 7px rgb(136, 255, 0);
   }